# Copyright (c) 2020, eQualit.ie inc.
# All rights reserved.
#
# This source code is licensed under the BSD-style license found in the
# LICENSE file in the root directory of this source tree.


-- File generated at: {{ now() }}
{% for sample in samples %}
{{ sample }}
{% endfor %}